* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.discordapp.com/attachments/764207629047300136/943698085895368704/IMG_0036.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: red;
}
nav {
    height: 80px;
    background-color: black;
    
}
.nav-bar {
    display: inline-block;
    height: 30px;
    width: 100px;
    float: right;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
}

iframe {
    height: 250px;
    width: 400px;
}

audio {
    width: 200px;
}
img {
    height: 80px;
    width: 80px;
    float: left;
    clear: left;
}
.hero-text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    width: 50%;
    margin: 50px 25%;
}
footer {
    position: absolute;
    bottom: 0px;
}